.firsth1 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: blueviolet;
}
.firsth3-top{color: blueviolet;
  font-family: 'Sacramento', cursive;
  font-weight: bolder;
  font-size: 3.5rem;
  padding-top: 2%;}
body {
  background-color: powderblue;
  text-align: center;
}
.title-page{color: #3F979B;
font-family: 'Merriweather', serif;}
.frsth2 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  color: blueviolet;
}

.firsth3 {
  font-family: 'Sacramento', cursive;
  font-weight: bolder;
  font-size: 3.5rem;
  padding-top: 2%;
}

.firstp {
  font-family: 'Dancing Script', cursive;
  color: blueviolet;
  font-size: 2rem;
  padding-top: 2%;
}

#anime {
  width: 10%;
  border-radius: 100%
}

#anime:hover {
  background-color: antiquewhite;
}

.firstpage {
  color: blueviolet;
  line-height: 1.5;
}
.side-flip-card{display: block;}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;

  border-width: 5px;
  width: 5%;
}
.cardss{padding-top: 2%;}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 550px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, #ADA2FF 60%, #C0DEFF 88%,
      #FFE5F1 40%, #C0DEFF 48%);
  color: #Fff;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
      bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}
 .middile-flip-card{display: inline-block;}




.calendar {
  padding-bottom: 2%;

}



/* the batman */




.march-5video {
  width: 27%
}



.march-photo {
  text-align: right;
  font-family: 'Dancing Script', cursive;
  color: blueviolet;
}

.vratika-batman {
  padding-left: 7%;
  padding-right: 7%;
  font-family: 'Dancing Script', cursive;
  color: blueviolet;
}

.vratika-batman-h3 {
  font-family: 'Dancing Script', cursive;
  color: blueviolet;
  font-weight: bolder;
  font-size: 2.5rem;
}
.the-batman-h3{font-family: 'Dancing Script', cursive;
  color: blueviolet;
font-size: 2.5rem;}


/* morning walk */

.chair{text-align: left;
}
.chair-row{padding-top: 3%;}
/* firstvc */
.padh2{padding-top: 3%;}

/* photos */
.card {
  width: 250px;
  height: 500px;
  border-radius: 4px;
  background: #212121;
  display: inline-flex;
  gap: 5px;
  padding: .4em;
}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #212121;
  border: 1px solid #ff5a91;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p:hover {
  flex: 4;
}

.card p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #ff568e;
  letter-spacing: .1em;
}

.card p:hover span {
  transform: rotate(0);
}
/* mymsg */
.message{color: #F07DEA;font-family: 'Ubuntu', sans-serif;
font-weight: bolder;
line-height: 3.5rem;}

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}



.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }

}

@media(max-width:900px) {
  #anime {
    width: 50%;
  }
  .march-photo{text-align: center;}
  
  /* .first-chat {
    padding-left: 25%;
  } */

  .march-5video {
    width: 40%;
  }
  .side-flip-card{display: inline-block;
    align-items: center;}
}